.hamburger-btn {
    background-color: transparent;
    border-radius: 1rem;
    border: 10px solid;
}

.hamburger-btn .line {
    transition: y 120ms ease-in 120ms,
    rotate 120ms ease-in,
    opacity 0ms 120ms;
    transform-origin: center;
}

.hamburger-btn:hover .line {
    transition: y 120ms ease-in,
    rotate 120ms ease-in 120ms,
    opacity 0ms 120ms;
}

.hamburger-btn:hover .top {
    rotate: 45deg;
}

.hamburger-btn:hover .middle {
    opacity: 0;
}

.hamburger-btn:hover .bottom {
    rotate: -45deg;
}

.hamburger-btn:hover :is(.top, .bottom) {
    y: 45;
}
